:root{
    --color-bg-color: #EAC926;
    --color-az-color: #03264C;
    --color-cel-color: #1259c3;
    --color-grisosc-color: #666;
    --color-griscla-color: #ebebeb;
    --color-verd-color: #39b54a;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center:
}

header{
    background-color: var(--color-bg-color);
    }

ul{
    background-color: var(--color-bg-color);     
}

.titulares{
    font-size: 24px;
    background-color: var(--color-griscla-color);
}
.precio{
    font-size: 18px;
    
}

.descuento{
    font-size: 16px;
    color:var(--color-verd-color);
    ;
}

.descripciones{
    font-size: 16px;
}

p{
    font-size: 12px;  
}

.fa-gift{
    color: var(--color-cel-color);
}

.fa-user-shield{
    color: var(--color-cel-color);
}


.fa-credit-card{
    color: var(--color-cel-color);
}

.fa-shuttle-van{
    color: var(--color-verd-color);
   
}

div{
    text-align: center;
}

