:root{
    --color-cel-color: #1259c3;
    --color-grisosc-color: #666;
    --color-griscla-color: #ebebeb;
    
}


.bg-white{ background-color: white;}
.bg-griscla {background-color: #ebebeb;}
.bg-yellow {background-color: #EAC926;}
.bg-blue {background-color: #1259c3;}

.fs-24{font-size: 24px;}
.fs-20 {font-size: 20px;}
.fs-18{font-size: 18px;}
.fs-16 {font-size: 16px;}

.c-green {color:#39b54a}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-griscla-color);
    box-sizing: border-box;
}


.hamburguesa{
    text-align: center;
}

.hamburguesa:hover .links{
    display: block;
    }


.fa-bars{
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.fa-bars:hover{
    background-color: #0022AA;
    cursor: pointer;
}



.links{
    display: none;
    background-color: white;
}

.titulares{
    font-size: 24px;
    background-color: var(--color-griscla-color);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    text-align: left;
    color: var(--color-grisosc-color);

}

.producto{
    margin: 20px;
    padding-left: 15px;
    padding-right:15px;
    background-color: white;
}








p{
    font-size: 12px;  
}



.fa-gift{
    color: var(--color-cel-color);
}

.fa-user-shield{
    color: var(--color-cel-color);
}


.fa-credit-card{
    color: var(--color-cel-color);
}





.w-50{
    width: 50%;
}

.none{
    display: none;
}

footer{
    padding-left:5% ;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white;
}

.art-foot{
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing:border-box;

}

.login{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
    
}

.boton-enviar{
    color: white;
    background-color: #0044AA;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
}

.boton-enviar:hover{
   background-color: #CC1155;
}

.boton-reset{
    color: white;
    background-color: #AA0044;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
}

.boton-reset:hover{
    background-color: #CC1155;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
