

/* Relleno */

.bg-white{ background-color: white;}
.bg-griscla {background-color: #ebebeb;}
.bg-yellow {background-color: #EAC926;}
.bg-blue {background-color: #1259c3;}

.fs-24{font-size: 24px;}
.fs-20 {font-size: 20px;}
.fs-18{font-size: 18px;}
.fs-16 {font-size: 16px;}

.c-green {color:#39b54a}
.c-grisosc{color: #666}
.c-celeste{color: #1259c3;}

.align-left {text-align: left;}
.align-center{text-align: center;}




/* Estructura */

.d-flex{display: flex;}
.f-wrap {flex-wrap: wrap;}
.justify-spaceb {justify-content: space-between;}
.w-50{width: 50%;}
.w-90{width: 90%}
.f-grow-1{flex-grow: 1;}


.padding-20 {padding: 20px;}




body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hamburguesa:hover .links{
    display: block;
    }


.fa-bars{
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.fa-bars:hover{
    background-color: #0022AA;
    cursor: pointer;
}



.links{
    display: none;
    background-color: white;
}

.producto{
    margin: 20px;
    padding-left: 15px;
    padding-right:15px;
    background-color: white;
}


p{
    font-size: 12px;  
}


.none{
    display: none;
}

footer{
    padding-left:5% ;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white;
}

.art-foot{
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing:border-box;

}

.login{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
    
}

.boton-enviar{
    color: white;
    background-color: #0044AA;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
}

.boton-enviar:hover{
   background-color: #CC1155;
}

.boton-reset{
    color: white;
    background-color: #AA0044;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
}

.boton-reset:hover{
    background-color: #CC1155;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.fa-shuttle-van{
    border-radius: 50%;
    border: 1px solid #39B54A;
    padding: 5px;
    display:inline-block:
}
